@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: white;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  transition: 0.2s;
  cursor: pointer !important;
}

.background-image {
  background-image: url('../public/assets/backgorund.png');
  background-repeat: no-repeat;
}

.border-primary {
  border: 1px solid #5B5B5B;
}

.border-invalid {
  border: 1px solid rgb(239 68 68);
}

.border-dashboard {
  border: 1px solid #D6D6D6;
}

.menu-hover {
  color: black !important;
}

.welcome-text {
  font-family: Poppins;
  font-size: 52px;
  font-weight: 500;
  line-height: 51.9px;
  letter-spacing: -0.06em;
  text-align: left;
  color: #1E1E1E;
}

.tag-border-Blockchain {
  border: 1px solid #D04FD2;
  color: #D04FD2;
}

.tag-border-AI {
  border: 1px solid #2296D7;
  color: #2296D7;
}

.tag-border-DeFi {
  border: 1px solid #CD2662;
  color: #CD2662;
}

.tag-border-NFT {
  border: 1px solid #22bd3c;
  color: #22bd3c;
}
.tag-border-Metaverse {
  border: 1px solid #a8840f;
  color: #a8840f;
}

.notification-transition {
  transition: 0.3s;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
